{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content%}
    <h1>This is the Login page</h1>
    {{ text }}
    {% if boolean==True %} Yes it is True! {% else %}No it is no True{% endif %}
{% endblock %}
